<nav>
  <ul>
    {{#if currentUser}}
      <li>{{#linkTo "bracket" currentUser.bracket}}Bracket{{/linkTo}}</li>
    {{else}}
      <li><a href="#" {{action "login"}}>Bracket</a></li>
    {{/if}}
    <li>{{#linkTo "leaderboard.you"}}Leaderboard{{/linkTo}}</li>
    <li>{{#linkTo "leaderboard.friends"}}Friends{{/linkTo}}</li>
    <li>{{#linkTo "prizes"}}Prizes{{/linkTo}}</li>
  </ul>
</nav>

<div id="right">
  <section id="restaurant">
    <a href="https://www.google.com" target="_blank">Restaurant Logo</a>
  </section>

  <section id="info">
    {{#if currentUser}}
      {{ currentUser.id }}<br/><br/>
      {{ currentUser.name }}<br/><br/>
      {{ currentUser.email }}<br/><br/>
      Bracket ID: {{ currentUser.bracket.id }}
    {{else}}
      <p>
        Fill out a March Madness bracket for a shot at thousands of dollars in
        prizes!
      </p>
      <button {{action "login"}}>Sign Up</button>
    {{/if}}
  </section>
</div>

<div class="clearboth"></div>

