<header xmlns="http://www.w3.org/1999/html">
  <img id="logo" src="/assets/raw_logos/tav_logo.png" />
  <h1>BRACKET CHALLENGE</h1>
</header>

<nav>
  <ul>
    {{#if currentUser}}
      <li id="bracket_link">{{#linkTo "bracket" currentUser.bracket}}BRACKET{{/linkTo}}</li>
    {{else}}
      <li id="bracket_link"><a href="#" {{action "login"}}>BRACKET</a></li>
    {{/if}}
    <li id="leaderboard_link">{{#linkTo "leaderboard.you"}}STANDINGS{{/linkTo}}</li>
    <li id="prizes_link">{{#linkTo "prizes"}}PRIZES{{/linkTo}}</li>
  </ul>
</nav>

<div id="news">
  <section id="head">
    <h2>NEWS</h2>
  </section>
  <section id="info">
    {{#if currentUser}}
      {{ currentUser.id }}<br/><br/>
      {{ currentUser.name }}<br/><br/>
      {{ currentUser.email }}<br/><br/>
      Bracket ID: {{ currentUser.bracket.id }}
    {{else}}
      <p>
        Fill out a March Madness bracket for a shot at thousands of dollars in
        prizes! <br/><br/>
      </p>
      <button {{action "login"}}>Sign Up</button>
    {{/if}}
  </section>
</div>

<div class="clearboth"></div>
