{{view App.NavigationView}}

{{#if gamesLoaded}}
  <div id="bracket">

    <!-- first four -->
    <section id="first_four">
      <h2 class="region_name">ROUND 1</h2>
      {{#each game in firstFourGames}}
        {{view App.GameView classBinding="game.todo game.pointsAwarded:points_awarded"}}
      {{/each}}
    </section>

    <!-- regions 1 (top left) and 3 (top right) -->
    <div>
      <section id="region_1" class="region">
        <h2 class="region_name" id="region_south">SOUTH</h2>
        {{view App.RegionView roundsBinding="regionOneRounds"}}
      </section>
      <section id="region_3" class="region">
        <h2 class="region_name" id="region_east">EAST</h2>
        {{view App.RegionView roundsBinding="regionThreeRounds"}}
      </section>
      <div class="clearboth"></div>
    </div>

    <!-- finals and semi-finals -->
    <section id="semis_finals">
      {{#each game in semisFinalsGames}}
        {{view App.GameView classBinding="game.todo game.pointsAwarded:points_awarded"}}
      {{/each}}
    </section>

    <!-- regions 2 (bottom left) and 4 (bottom right) -->
    <div>
      <section id="region_2" class="region">
        <h2 class="region_name" id="region_west">WEST</h2>
        {{view App.RegionView roundsBinding="regionTwoRounds"}}
      </section>
      <section id="region_4" class="region">
        <h2 class="region_name" id="region_midwest">MIDWEST</h2>
        {{view App.RegionView roundsBinding="regionFourRounds"}}
      </section>
      <div class="clearboth"></div>
    </div>
  </div>
{{/if}}