<ol>
  <li {{action "selectTeam" game game.teamOne}} {{bindAttr class="game.teamOneWon:winner game.teamOne:chosen :team :team_one"}}>
    {{ formatTeamName game.teamOne }}
  </li>
  <li {{action "selectTeam" game game.teamTwo}} {{bindAttr class="game.teamTwoWon:winner game.teamTwo:chosen :team :team_two"}}>
    {{ formatTeamName game.teamTwo }}
  </li>
</ol>