<div>
  <section id="region_1" class="region">
    {{region regionOneGames}}
  </section>
  <section id="region_3" class="region">
    {{region regionThreeGames}}
  </section>
  <div class="clearboth"></div>
</div>
{{view App.SemisFinalsView}}
<div>
  <section id="region_2" class="region">
    {{region regionTwoGames}}
  </section>
  <section id="region_4" class="region">
    {{region regionFourGames}}
  </section>
  <div class="clearboth"></div>
</div>