<h1>Rankings for Each Restaurant</h1>

<% @ranking_data.each do |data| %>
  <h2><%= data[:name] %></h2>
  <ol>
    <% data[:users].each do |user| %>
      <li title="<%= user[:id] %>">
        <strong><%= user[:score] %> points</strong> &ndash;
        <%= user[:name] %> (<%= user[:email] %>)
      </li>
    <% end %>
  </ol>
<% end %>
