<!DOCTYPE html>
<html>
<head>
  <title>Bracket Challenge</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render :partial => "pages/facebook_javascript_sdk" %>
</body>
</html>